*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width:100%;
    min-height:100vh;
}
#container{
    height: 100%;
}
#header{
    background-color: white;
    width:100%;
    height:100px;
    position: fixed;
    top:0;
    left: 0;
    z-index: 999;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
nav{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.logo-text{
    width: 300px;
    height: 100%;
    display:flex;
    cursor: pointer;
}
#logo{
    width:130px;
    height:80px;
}
#te {
    font-size: 30px;
    font-weight: 700;
    position: relative;
    top: 20px;
    font-family: sans-serif;
    height: 50px;
}
ul{
    display: flex;
}
li{
    list-style-type: none;
    padding: 22px;
}
a{
    margin: 10px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-family: sans-serif;
}
a:hover{
    background-color: red;
    border-radius: 20px;
    color:white;
}
.search-bar{
    height: 100%;
    width: 230px;
    display: flex;
    align-items: center;
    margin: 0 40px;
    line-height: 28px;
    position: relative;
    right: 270px;
}
.search-bar input{
    width: 100%;
    height:40px;
    line-height: 28px;
    padding:0 1rem;
    padding-left: 2.5rem;
    border: 1px solid gray;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .2s ease;
}
.search-bar input::placeholder{
    color:#9e9ea7;
}
.search-bar input:focus, .search-bar input:hover{
    outline: none;
    border-color: red;
    background-color:#fff;
    box-shadow: 0 0 0 4px rgb(234 76 137/ 10%);
}
.search-icon{
    position:absolute;
    left:1rem;
    fill: #9e9ea7;
    width: 2rem;
    height: 2rem;
    padding: 5px;
}
#container-main{
    position: relative;
    top: 100px;
    width: 100%;
    height: 100%;
    display: flex;
}
#main-video{
    background-color: white;
    padding-top: 30px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left:80px; 
    margin: 0 20px 0px 0px;
}
details > summary {
    list-style-type: '👉 ';
}
details[open] summary {
    list-style-type: '👇 ';
}
details > summary:hover{
    background-color: red;
    color: white;
    transition: scale(1.2);
    border-radius: 10px;
    cursor: pointer;
}

#side-bar{
    background-color: rgba(255,0,0);
    width: 100%;
    height: 100%;
    border-left: 1px solid black;
    border-top: 2px solid black;
    padding:14px;
}

